name: Build Package

on:
  workflow_dispatch:

jobs:
  build:
    name: Build for aarch64_generic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download SDK
        run: |
          SDK_URL="https://downloads.openwrt.org/releases/24.10.5/targets/armsr/armv8/openwrt-sdk-24.10.5-armsr-armv8_gcc-13.3.0_musl.Linux-x86_64.tar.zst"
          wget -q -O sdk.tar.zst "$SDK_URL"
          tar -xf sdk.tar.zst
          mv openwrt-sdk-* openwrt-sdk
          ls -la openwrt-sdk/

      - name: Copy package
        run: |
          mkdir -p openwrt-sdk/package/luci-app-dnscrypt-proxy2
          cp Makefile openwrt-sdk/package/luci-app-dnscrypt-proxy2/
          cp -r htdocs root openwrt-sdk/package/luci-app-dnscrypt-proxy2/
          ls -la openwrt-sdk/package/luci-app-dnscrypt-proxy2/

      - name: Build
        run: |
          cd openwrt-sdk
          # Check include directory
          ls -la include/
          # Source package.mk manually
          make package/luci-app-dnscrypt-proxy2/compile V=s
