name: Build Package

on:
  workflow_dispatch:

jobs:
  build:
    name: Build for aarch64_generic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        uses: openwrt/gh-action-sdk@v10
        env:
          ARCH: aarch64_generic
          FEEDNAME: luci
          INDEX: 1
          V: s

      - name: Move created packages
        run: cp -v bin/packages/aarch64_generic/luci/* . || true

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: luci-app-dnscrypt-proxy2
          path: |
            luci-app-dnscrypt-proxy2*.ipk
            *.ipk
          retention-days: 1
