name: Build Package

on:
  workflow_dispatch:
    inputs:
      test_build:
        description: 'Test build'
        required: false
        default: 'false'
        type: choice
        options:
          - 'true'
          - 'false'

env:
  REPO_URL: https://github.com/ewgen198409/luci-app-dnscrypt-proxy2
  REPO_LNK: ewgen198409/luci-app-dnscrypt-proxy2
  TEST_BUILD: ${{ github.event.inputs.test_build == 'true' }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [aarch64_cortex-a53]

    container:
      image: openwrt/sdk:${{ matrix.arch }}

      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ env.REPO_LNK }}
          path: luci-app-dnscrypt-proxy2

      - name: Setup ccache
        uses: actions/cache@v4
        with:
          path: '/builder/.ccache'
          key: ccache-${{ matrix.arch }}-${{ matrix.branch }}-${{ github.run_id }}
          restore-keys: |
            ccache-${{ matrix.arch }}-${{ matrix.branch }}-

      - name: Init package
        id: init
        working-directory: '/builder'
        env:
          ARCH: ${{ matrix.arch }}
          BRANCH: ${{ matrix.branch }}
          CCACHE_DIR: '/builder/.ccache'
        run: |
          PKGDIR=$GITHUB_WORKSPACE/luci-app-dnscrypt-proxy2
          MKFN=$PKGDIR/Makefile
          PKGVER=$( grep -s '^PKG_VERSION:=.*' $MKFN | cut -d'=' -f2 )
          echo "PKG_VERSION = $PKGVER"
          mkdir -p ./package/luci-app-dnscrypt-proxy2
          cp -v $PKGDIR/Makefile ./package/luci-app-dnscrypt-proxy2/
          cp -rv $PKGDIR/htdocs ./package/luci-app-dnscrypt-proxy2/
          cp -rv $PKGDIR/root ./package/luci-app-dnscrypt-proxy2/

          
          echo "PKGVER=$PKGVER" >> $GITHUB_ENV
          echo "pkgver=$PKGVER" >> $GITHUB_OUTPUT
          echo "status=success" >> $GITHUB_OUTPUT

      - name: Build package
        id: build
        if: steps.init.outputs.status == 'success'
        working-directory: '/builder'
        env:
          ARCH: ${{ matrix.arch }}
          BRANCH: ${{ matrix.branch }}
          CCACHE_DIR: '/builder/.ccache'
        run: |
          if [ "$TEST_BUILD" = "false" ]; then
            make defconfig
            make package/luci-app-dnscrypt-proxy2/compile V=s
          else
            OUT_DIR=./bin/packages/aarch64_cortex-a53/base
            mkdir -p $OUT_DIR
            touch $OUT_DIR/luci-app-dnscrypt-proxy2_1.0-1_all.ipk
          fi
          
          echo "status=success" >> $GITHUB_OUTPUT

      - name: Upload packages
        if: steps.build.outcome == 'success'
        uses: actions/upload-artifact@v4
        with:
          path: ./bin/packages/${{ matrix.arch }}/base/luci-app-dnscrypt-proxy2*.ipk
          name: luci-app-dnscrypt-proxy2,${{ matrix.arch }}
          if-no-files-found: error

  release:
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: luci-app-dnscrypt-proxy2,*
          path: packages

      - name: Create Release
        if: env.TEST_BUILD == 'false'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ needs.build.outputs.pkgver }}
          name: luci-app-dnscrypt-proxy2 v${{ needs.build.outputs.pkgver }}
          files: packages/**/*.ipk
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
